{% extends "layout_main.html" %}
{% load static %}

{% block title %}New password{% endblock %}

{% block body %}
<link href="{% static 'users/styles.css' %}" rel="stylesheet">

    <h3 >Create new password</h3><br>

    <div class="card shadow">
        <div class="card-body">
            <h6 class="card-title">
                Please enter your new password below:
            </h6>
            <hr class="mt-1 mb-1">
            <p class="card-text">
                <form action="{% url 'users:newpassword' uidb64=uidb64 token=token %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input class="form-control" type="password" name="password1" placeholder="New password" autofocus required="required">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="password" name="password2" placeholder="Repeat password" required="required">
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-warning">Submit</button>
                    </div>
                </form>
            </p>
        </div>
    </div>
    
{% endblock %}




    
    




  
