{% extends "layout_main.html" %}

{% block title %}Change password{% endblock %}

{% block body %}

        <h1>Change email address</h1>
        
        <form action="{% url 'users:password' %}" method="post">
            {% csrf_token %}
            <input type="password" name="password" placeholder="New password">
            <input type="password" name="repeat" placeholder="Repeat password">
            <input type="submit">
        </form>

        <br><a href="{% url 'users:index' %}">Cancel</a>

{% endblock %}