<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Notes: {% block title %}{% endblock %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>



        <style>

            .nav-link {
                color: #30334B;
            }

            .navbar-brand {
                color: #30334B;
            }

            .navbar-custom {
                background-color: #FFC20A;
            }

            body {
                color: #30334B;
                background-color: #FFFDF9;
            }

            .navbar-toggler {
                color: #30334B;
                border-color: #30334B;
            }

        </style>

    </head>
    <body>

        <!-- Page navigation -->
        <nav class="navbar navbar-expand-lg navbar-light navbar-custom shadow">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">NOTES</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'notes:index' %}">Notes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'users:account' %}">Account</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'users:login' %}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'users:register' %}">Register</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'notes:about' %}">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Alert message -->
        {% if messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {% for message in messages %}
                    {{ message }}<br>
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}

        <div class="container">
            <br><br>
            {% block body %}
                <!-- Body content -->
            {% endblock %}
        </div>
        
        <br><br>
    
    </body>
</html>